# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug files
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Coverage from testing tools
coverage/

# Optional: build/output directories
dist/
build/
tmp/

# VS Code settings (optional)
.vscode/

# Mac system file (optional)
*.DS_Store

# Optional: MongoDB local database dump
dump/